<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <label for="email"><strong> Name </strong></label>
        <input class="form-control" [(ngModel)]="name" type="text" required placeholder="" name="name"> &nbsp;&nbsp;&nbsp;&nbsp;
        
    </div>
    <div class="col-md-5">
        <label for="email"><strong> Details Url </strong></label>
        <input class="form-control" [(ngModel)]="details_url" type="text" required placeholder="" name="details_url"> &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-md-1">
    </div>
</div>