<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Agent Users</p>
        </div>
        <div class="card-body">
         
            <!-- <div class=" mt-2"> -->
                
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="text-center">Names</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Admin User</th>
                            <th class="text-center">Agent Company</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="text-center">{{user.user.id}}</td>
                            <td class="text-center">{{user.user.name}}</td>
                            <td class="text-center">{{user.user.email}}</td>
                            <td class="text-center">
                                <div *ngIf="user.is_admin == 1">
                                    <button class="btn btn-outline-info btn-sm btn-block" type="button" >Agent Admin</button>
                                </div>    
                              
                            </td>
                            <td class="text-center">{{user.agent.full_name}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm btn-block" type="button" (click)="deleteAgentUser(user.user.id , user.user.name)" >Delete</button>                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
          
        </div>
    </div>
</div>

