<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label for="current_password"><strong>Current Password</strong></label>
            <input class="form-control" [(ngModel)]="user.current_password"  type="password" required name="current_password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="new_password"><strong>Password</strong></label>
            <input class="form-control" [(ngModel)]="user.password"  type="password" required name="new_password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="verify_password"><strong>Verify Password</strong></label>
            <input class="form-control" [(ngModel)]="user.verify_password"  type="password" required name="verify_password">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success mt-5" (click)="createUser()">Create User</button>
        </div>
    </div> -->
        
</div>