<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <label for="email"><strong> Name </strong></label>
        <input class="form-control" [(ngModel)]="name" type="text" required placeholder="" name="name"> &nbsp;&nbsp;&nbsp;&nbsp;
        
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            
            <input class="form-control" [(ngModel)]="persons" type="text" required name="batch_number" readonly>
            <div class="input-group-append">
              <span class="input-group-text" >Person(s)</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >Price</span>
            </div>
            <input class="form-control" [(ngModel)]="base_price" type="number" required name="batch_number">
        </div>
    </div>

</div>