<div>
    <div class="row">
        <div class="col-md-6">
            <label for="email"><strong> From </strong></label>
            <input class="form-control" [(ngModel)]="fr_date" type="date" required placeholder="" name="name"> &nbsp;&nbsp;
        </div>
        <div class="col-md-6">
            <label for="email"><strong> To</strong></label>
            <input class="form-control" [(ngModel)]="to_date" type="date" required placeholder="" name="latitude"> &nbsp;&nbsp;
        </div>
    </div>
    
  

</div>