<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Agents List</p>
        </div>
        <div class="card-body">
         
            <!-- <div class=" mt-2"> -->
                <div class="row text-center"  style="padding: 10px;">
                    <div class="col"><button class="btn btn-primary btn-sm" type="button" (click)="addNewAgent()">Add New Agent</button></div>
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="text-center">Agent Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let agent of agents">
                            <td class="text-center">{{agent.id}}</td>
                            <td class="text-center">
                                {{agent.full_name}}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" (click)="editAgent(agent)" >Edit</button>
                                <button class="btn btn-info btn-block" type="button" (click)="addAgentUser(agent)" >Add Admin User</button>
                                <!-- <button class="btn btn-danger btn-block" type="button" (click)="deleteAgent(agent.id , agent.full_name)" >Delete</button>                                       -->
                            </td>
                        </tr>
                    </tbody>
                </table>
          
        </div>
    </div>
</div>
